---
import Layout from '../layouts/Layout.astro';
import TopBanner from '../components/TopBanner.astro';
import Navbar from '../components/Navbar.astro';
import PageHeader from '../components/PageHeader.astro';
import Footer from '../components/Footer.astro';
import heroImage from '../assets/images/hero-image.jpg';
import CTABanner from '../components/CTABanner.astro';
import RegionalRepresentatives from '../components/RegionalRepresentatives.astro';
---

<Layout title="About FiNAN">
  <main>
    <TopBanner />
    <Navbar />
    <PageHeader
      title="About FiNAN"
      description="The Filipino Nurses Association-Nordic (FiNAN)"
      backgroundImage={heroImage}
      backgroundAlt="Beautiful landscape representing the Philippines"
    />

    <section class="bg-white py-16">
      <div class="mx-auto max-w-screen-xl px-4 sm:px-6">
        <div class="prose prose-lg max-w-prose">
          <p class="mb-6 text-gray-700">
            The Filipino Nurses Association-Nordic (FiNAN) is the first
            non-profit organization for Filipino Nurses in the Nordic Region.
            The first members of the association were gathered through social
            media platform with diverse educational and work background in the
            field of nursing. The urgency to create an association to give a
            voice for the Filipino Nurses living in the region was high in
            support to the World Health Organization's (WHO) Code of Ethical
            Recruitment of Health Personnel. Non-ethical issues regarding the
            recruitment process emerged as a critical dilemma which needed an
            urgent action from different stakeholders of the Nordic society.
          </p>

          <p class="mb-6 text-gray-700">
            The association's vision is to be the leading Filipino Nurses
            Association in the Nordic Region for highly skilled and competitive
            Filipino Nurses and the mission is to empower and strengthen the
            global image of Filipino Nurses as a source of nursing manpower and
            care in the Nordic Region.
          </p>

          <p class="mb-6 text-gray-700">
            As a starting non-profit organization, our resources to achieve the
            goals in relation to the United Nation's Sustainable Development
            Goals and Universal Health Coverage is limited.
          </p>

          <h2 class="mb-8 text-3xl font-bold text-gray-900">Strategic Goals</h2>

          <ol
            class="mb-6 ml-6 list-outside list-decimal space-y-2 text-lg text-gray-700"
          >
            <li>
              Monitor Filipino Nursing Workforce Migration to the Nordic
              Countries
            </li>
            <li>
              Participate in the achievement of Sustainable Development Goals
              (SDGs)
            </li>
            <li>Negotiate to decision and policy-makers</li>
            <li>
              Collaborate in the integration of Filipino Nurses in the Nordic
              work life
            </li>
            <li>Involve in peer support and mentoring</li>
            <li>Produce evidence-based data</li>
          </ol>
        </div>
      </div>
    </section>
    <RegionalRepresentatives />
    <CTABanner />
  </main>
  <Footer />
</Layout>
