---
import TopBanner from '../components/TopBanner.astro';
import HeroHeader from '../components/HeroHeader.astro';
import Statistics from '../components/Statistics.astro';
import Partners from '../components/Partners.astro';
import HowWeHelp from '../components/HowWeHelp.astro';
import NordicChapters from '../components/NordicChapters.astro';
import Blog from '../components/Blog.astro';
import RegistrationSection from '../components/RegistrationSection.astro';
import CTABanner from '../components/CTABanner.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <TopBanner />
    <HeroHeader />
    <Statistics />
    <Partners />
    <HowWeHelp />
    <NordicChapters />
    <Blog />
    <RegistrationSection />
    <CTABanner />
  </main>
  <Footer />
</Layout>
