---
import TopBanner from '../components/TopBanner.astro';
import HeroHeader from '../components/HeroHeader.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<TopBanner />
		<HeroHeader />
	</main>
</Layout>
