---
import HeroHeader from '../components/HeroHeader.astro';
import EventHeaderSection from '../components/EventHeaderSection.astro';
import Pillars from '../components/Pillars.astro';
import Partners from '../components/Partners.astro';
import TriennialReport from '../components/feature-section/TriennialReport.astro';
import OurAdvocacy from '../components/OurAdvocacy.astro';
import NordicRepresentation from '../components/NordicRepresentation.astro';
import Blog from '../components/Blog.astro';
import RegistrationSection from '../components/RegistrationSection.astro';
import CTABanner from '../components/CTABanner.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout enableMotion={true}>
  <main>
    <HeroHeader />
    <EventHeaderSection
      secondaryButtonText="View event details"
      secondaryButtonLink="/triennial-gathering-2026/#triennial-gathering-2026"
      headingLevel="h2"
      subtitleSize="md:text-xl"
      countdownSize="lg:text-4xl"
    />
    <Pillars />
    <Partners />
    <TriennialReport />
    <OurAdvocacy />
    <NordicRepresentation />
    <Blog />
    <RegistrationSection />
    <CTABanner />
  </main>
  <Footer />
</Layout>
