---
import TopBanner from '../components/TopBanner.astro';
import HeroHeader from '../components/HeroHeader.astro';
import Statistics from '../components/Statistics.astro';
import Pillars from '../components/Pillars.astro';
import Partners from '../components/Partners.astro';
import TriennialReport from '../components/feature-section/TriennialReport.astro';
import HowWeHelp from '../components/HowWeHelp.astro';
import NordicRepresentation from '../components/NordicRepresentation.astro';
import Blog from '../components/Blog.astro';
import RegistrationSection from '../components/RegistrationSection.astro';
import CTABanner from '../components/CTABanner.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import StructuredData from '../components/StructuredData.astro';
---

<Layout>
  <Fragment slot="head">
    <StructuredData schemas={['organization', 'website']} />
  </Fragment>
  <main>
    <TopBanner />
    <HeroHeader />
    <!-- <Statistics /> -->
    <Pillars />
    <Partners />
    <TriennialReport />
    <HowWeHelp />
    <NordicRepresentation />
    <Blog />
    <RegistrationSection />
    <CTABanner />
  </main>
  <Footer />
</Layout>
