---
// TopBanner.astro - Site-wide announcement banner
---

<div class="bg-blue-900 py-4 px-4">
  <p class="text-white text-lg text-center">
    Exciting news! We're launching a new website to better serve Filipino nurses
    in the Nordic region. Stay tuned for updates!
  </p>
</div>
