---
// TopBanner.astro - Site-wide announcement banner
---

<div class="bg-blue-900 py-2 px-4">
  <p class="text-white text-lg text-center">
    We are currently building a new website to better serve Filipino nurses in
    the Nordic Region.
  </p>
</div>
